# Decision Tree Classification

In [48]:
import pandas as pd

In [49]:
df=pd.read_csv("exercise.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [93]:
latest_df=df.dropna()

In [94]:
latest_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S
751,752,1,3,"Moor, Master. Meier",male,6.0,0,1,392096,12.4750,E121,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
782,783,0,1,"Long, Mr. Milton Clyde",male,29.0,0,0,113501,30.0000,D6,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.0,1,2,113760,120.0000,B96 B98,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,113806,53.1000,E8,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
823,824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [95]:
target=latest_df['Survived']
inputes=latest_df.drop(['Survived','PassengerId','Pclass','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [96]:
inputes

        Sex   Age      Fare
1    female  38.0   71.2833
3    female  35.0   53.1000
6      male  54.0   51.8625
10   female   4.0   16.7000
11   female  58.0   26.5500
21     male  34.0   13.0000
23     male  28.0   35.5000
27     male  19.0  263.0000
52   female  49.0   76.7292
54     male  65.0   61.9792
62     male  45.0   83.4750
66   female  29.0   10.5000
75     male  25.0    7.6500
88   female  23.0  263.0000
92     male  46.0   61.1750
96     male  71.0   34.6542
97     male  23.0   63.3583
102    male  21.0   77.2875
110    male  47.0   52.0000
118    male  24.0  247.5208
123  female  32.5   13.0000
124    male  54.0   77.2875
136  female  19.0   26.2833
137    male  37.0   53.1000
139    male  24.0   79.2000
148    male  36.5   26.0000
151  female  22.0   66.6000
170    male  61.0   33.5000
174    male  56.0   30.6958
177  female  50.0   28.7125
..      ...   ...       ...
737    male  35.0  512.3292
741    male  36.0   78.8500
742  female  21.0  262.3750
745    male  70.0   71.0000
748    male  19.0   53.1000
751    male   6.0   12.4750
759  female  33.0   86.5000
763  female  36.0  120.0000
765  female  51.0   77.9583
772  female  57.0   10.5000
779  female  43.0  211.3375
781  female  17.0   57.0000
782    male  29.0   30.0000
789    male  46.0   79.2000
796  female  49.0   25.9292
802    male  11.0  120.0000
806    male  39.0    0.0000
809  female  33.0   53.1000
820  female  52.0   93.5000
823  female  27.0   12.4750
835  female  39.0   83.1583
853  female  16.0   39.4000
857    male  51.0   26.5500
862  female  48.0   25.9292
867    male  31.0   50.4958
871  female  47.0   52.5542
872    male  33.0    5.0000
879  female  56.0   83.1583
887  female  19.0   30.0000
889    male  26.0   30.0000

[183 rows x 3 columns]

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
le_sex=LabelEncoder()

In [99]:
inputes['Sex_n']=le_sex.fit_transform(inputes['Sex'])

In [100]:
inputs_n=inputes.drop(['Sex'],axis='columns')

In [101]:
inputs_n

      Age      Fare  Sex_n
1    38.0   71.2833      0
3    35.0   53.1000      0
6    54.0   51.8625      1
10    4.0   16.7000      0
11   58.0   26.5500      0
21   34.0   13.0000      1
23   28.0   35.5000      1
27   19.0  263.0000      1
52   49.0   76.7292      0
54   65.0   61.9792      1
62   45.0   83.4750      1
66   29.0   10.5000      0
75   25.0    7.6500      1
88   23.0  263.0000      0
92   46.0   61.1750      1
96   71.0   34.6542      1
97   23.0   63.3583      1
102  21.0   77.2875      1
110  47.0   52.0000      1
118  24.0  247.5208      1
123  32.5   13.0000      0
124  54.0   77.2875      1
136  19.0   26.2833      0
137  37.0   53.1000      1
139  24.0   79.2000      1
148  36.5   26.0000      1
151  22.0   66.6000      0
170  61.0   33.5000      1
174  56.0   30.6958      1
177  50.0   28.7125      0
..    ...       ...    ...
737  35.0  512.3292      1
741  36.0   78.8500      1
742  21.0  262.3750      0
745  70.0   71.0000      1
748  19.0   53.1000      1
751   6.0   12.4750      1
759  33.0   86.5000      0
763  36.0  120.0000      0
765  51.0   77.9583      0
772  57.0   10.5000      0
779  43.0  211.3375      0
781  17.0   57.0000      0
782  29.0   30.0000      1
789  46.0   79.2000      1
796  49.0   25.9292      0
802  11.0  120.0000      1
806  39.0    0.0000      1
809  33.0   53.1000      0
820  52.0   93.5000      0
823  27.0   12.4750      0
835  39.0   83.1583      0
853  16.0   39.4000      0
857  51.0   26.5500      1
862  48.0   25.9292      0
867  31.0   50.4958      1
871  47.0   52.5542      0
872  33.0    5.0000      1
879  56.0   83.1583      0
887  19.0   30.0000      0
889  26.0   30.0000      1

[183 rows x 3 columns]

In [102]:
target

1      1
3      1
6      0
10     1
11     1
21     1
23     1
27     0
52     1
54     0
62     0
66     1
75     0
88     1
92     0
96     0
97     1
102    0
110    0
118    0
123    1
124    0
136    1
137    0
139    0
148    0
151    1
170    0
174    0
177    0
      ..
737    1
741    0
742    1
745    0
748    0
751    1
759    1
763    1
765    1
772    0
779    1
781    1
782    0
789    0
796    1
802    1
806    0
809    1
820    1
823    1
835    1
853    1
857    1
862    1
867    0
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [103]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [104]:
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [106]:
model.score(inputs_n,target)

1.0

#### is person servivable?

In [107]:
model.predict([[56.0,36.0,0]])

array([0], dtype=int64)

In [128]:
model.predict([[20.0,500.0,1]])

array([0], dtype=int64)